<% if user_signed_in? %>
  <% if current_user.already_favorited?(@station) %>
      <p><span>お気に入り解除: </span><%=link_to @station.favorites.count, station_favorites_path(@station), method: :delete %></p>
  <% else %>
      <p><span>お気に入り登録: </span><%=link_to @station.favorites.count, station_favorites_path(@station), method: :post %></p>
  <% end %>
<% else %>
  <p><span>お気に入り数: </span><%= @station.favorites.count %></p>
<% end %>