<h3> ユーザー 一覧 </h3>
<% @users.each do |user| %>
<p>ユーザー名：<%= link_to user.name, show_user_path(user) %>
<p>メール：<%= user.email %>
<p>最終ログイン：<%= user.last_sign_in_at %>
  <%= button_to 'ユーザー削除', delete_user_path(user), data: {confirm: '本当にユーザー削除しますか？'}, method: :delete %>
  <hr>
  <% end %>