<div class="container  d-flex justify-content-center mt-3">
  <div class="w-75">
    <h1>お気に入り</h1>

    <hr>

    <div class="row">
      <% @favorites.each do |favorite| %>
        <div class="col-md-8 mt-2">
          <div class="d-inline-flex">
            <div class="container mt-3">
              <h4 class="w-100">駅名：<%= favorite.station.station_name %></h4>
              <h6 class="w-100">駅No：<%= favorite.station.station_number %></h6>
              <h6 class="w-100">路線名：<%= favorite.station.line %></h6>

            </div>
          </div>
        </div>
      <% end %>
    </div>

    <hr>

  </div>
</div>