<ul class='navbar-nav mx-auto'>

  <li>
    <%= link_to 'My posts', mypost_user_path(current_user.id) %>
  </li>

  <li class='nav-item'>
    <%= link_to "お気に入り登録", '#', class: 'nav-link' %>
  </li>

  <li class='nav-item'>
    <%= link_to "お気に入り一覧", '#', class: 'nav-link' %>
  </li>

  <li class='nav-item'>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link' %>
  </li>

</ul>