<h3>人混み予測</h3>
<%= column_chart @graph,
                id: 'total-attendance-chart',
                min: 0,
                max: 5, 
                xtitle: "時間帯", 
                ytitle: "混雑状況",
                colors: ['#9c6'],
                loading: "Loading...",
                empty:"投稿データがありません"
            %>