// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts{
  height: 500px;
  width: 500px;
  overflow-y: scroll;
}

p{
  font-size: large;
}

.traffic {
  padding: 0.5em 1em;
  margin: 0;
  font-weight: bold;
  color: #000000;/*文字色*/
  background: #FFF;
  border: solid 3px #2B9348;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.traffic u {
  margin: 0; 
  padding: 0;
}

.about {
  background:linear-gradient(transparent 70%, #FFFF3F 0%);
  display: inline-block;
}

.description{
  text-align: center;
}