// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

// 投稿（掲示板）表示部分
.posts {
  height: 500px;
  width: auto;
  overflow-y: scroll;
}

p {
  font-size: large;
}

.traffic {
  padding: 0.5em 1em;
  margin: 0;
  font-weight: bold;
  color: #000000;
  /*文字色*/
  background: #FFF;
  border: solid 3px #0077B6;
  /*線*/
  border-radius: 10px;
  /*角の丸み*/
}

.traffic u {
  margin: 0;
  padding: 0;
}

.about {
  background: linear-gradient(transparent 70%, #FFFF3F 0%);
  display: inline-block;
}

.description {
  text-align: center;
}

.icon {
  width: auto;
  max-width: 100%;
  height: 80px;
  object-fit: contain;
  margin: 20px auto;
  filter: opacity(20%);

}

.icon-about {
  width: auto;
  max-width: 100%;
  height: 90px;
  object-fit: contain;
  margin: 20px auto;
}

.icon-top {
  width: 3rem;
  max-width: 100%;
  object-fit: contain;
}
