<p>こんにちは <%= @email %>さん!</p>

<% if @resource.try(:unconfirmed_email?) %>
<p>登録メールアドレスは以下に変更します <%= @resource.unconfirmed_email %>.</p>
<% else %>
<p>登録メールアドレスが以下に変更されたことをお知らせします <%= @resource.email %>.</p>
<% end %>