<div class='container'>
  <div class='mx-auto'>
    <div class='row'>
      <h3 class='mx-auto my-4'>会員登録ありがとうございます！</h3>
    </div>
    <div class='row'>
      <p class='mx-auto'>
        現在、仮会員の状態です。
      </p>
    </div>
    <div class='row'>
      <p class='mx-auto'>
        ただいま、ご入力頂いたメールアドレス宛に、ご本人様確認用のメールをお送りしました。
      </p>
    </div>
    <div class='row'>
      <p class='mx-auto'>
        メール本文内のURLをクリックすると本会員登録が完了となります。
      </p>
    </div>
    <div class='row'>
      <div class='mx-auto'>
        <%= link_to "トップページへ", root_path, class: 'btn btn-outline-primary' %>
      </div>
    </div>
  </div>
</div>